<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de empleados</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% include "header.html" %}
    <div class="container">
        <h1>Listado de empleados</h1>
        <a href="/create">Agregar empleado</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <th scope="row">{{ employee.code }}</td>
                    <td>{{ employee.names }}</td>
                    <td>{{ employee.last_names }}</td>
                    <td>
                        {% if employee.date %}
                        {{ employee.date }}
                        {% else %}
                        {{ "" }}
                        {% endif %}
                    </td>
                    <td>{{ employee.department.name }}</td>
                    <td>
                        <a href="/edit/{{ employee.code }}">Edit</a>
                        <a href="/delete/{{ employee.code }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>